{% extends 'layout.html' %}

{% block title %}MendiTrack - {{ username }}{% endblock %}

{% block content %}
<h2>Página principal</h2>
<p>Bienvenido de nuevo, {{ username }}!</p>

<h2>Tus Rutas:</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Nombre de la Ruta</th>
            <th>Dificultad</th>
            <th>Distancia (km)</th>
            <th>Desnivel (m)</th>
            <th>Link de la ruta</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for route in routes %}
        <tr>
            <td>{{ route.nombre }}</td>
            <td>{{ route.dificultad }}</td>
            <td>{{ route.distancia }}</td>
            <td>{{ route.desnivel }}</td>
            <td><a href='{{ route.link }}' target="_blank">Acceder a la ruta</a></td>
            <td>
                <form action="/edit_route" method="get" style="display: inline;">
                    <input type="hidden" name="route_id" value="{{ route.id }}">
                    <button type="submit" class="btn btn-primary">Editar</button>
                </form>
                <form action="/delete_route" method="post" style="display: inline;">
                    <input type="hidden" name="route_id" value="{{ route.id }}">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}