{% extends 'layout.html' %}

{% block title %}MendiTrack{% endblock %}

{% block content %}
<h2>Página principal</h2>
<div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">Nombre de la Ruta</th>
                <th class="text-center">Dificultad</th>
                <th class="text-center">Distancia (km)</th>
                <th class="text-center">Desnivel (m)</th>
                <th class="text-center">Acciones</th> 
            </tr>
        </thead>
        <tbody>
            {% for route in routes %}
            <tr>
                <td class="text-center">{{ route.nombre }}</td>
                <td class="text-center">{{ route.dificultad }}</td>
                <td class="text-center">{{ route.distancia }}</td>
                <td class="text-center">{{ route.desnivel }}</td>
                <td class="text-center">
                    <a href="{{ route.link }}" target="_blank" class="btn btn-success">Acceder</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}