{% extends 'layout.html' %}

{% block title %}MendiTrack - {{ account['username'] }}{% endblock %}

{% block content %}
<h2>Perfil de {{ account['username'] }}</h2>
<div>
    <table>
        <tr>
            <td>Nombre de usuario:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Correo electrónico:</td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>
</div>
<div>
    <a href="{{ url_for('add_route') }}" class="btn btn-primary btn-sm">Agregar nueva ruta</a>
    <br>
    <br>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">Nombre de la ruta</th>
                <th class="text-center">Visibilidad</th>
                <th class="text-center">Dificultad</th>
                <th class="text-center">Distancia (km)</th>
                <th class="text-center">Desnivel (m)</th>
                <th class="text-center">Acciones</th> 
            </tr>
        </thead>
        <tbody>
            {% for route in routes %}
            <tr>
                <td class="text-center">{{ route.nombre }}</td>
                <td class="text-center">
                    <i class="{{ 'fas fa-lock' if route.public == 0 else 'fas fa-lock-open' }}"></i>
                </td>
                <td class="text-center">{{ route.dificultad }}</td>
                <td class="text-center">{{ route.distancia }}</td>
                <td class="text-center">{{ route.desnivel }}</td>
                <td class="text-center">
                    {% if route.link %}
                    <a href="{{ route.link }}" target="_blank" class="btn btn-success">Acceder</a>
                    {% else %}
                    <button class="btn btn-success" disabled>No disponible</button>
                    {% endif %}
                    <form action="/edit_route/{{ route.id }}" method="get" style="display: inline;">
                        <button type="submit" class="btn btn-warning">Editar</button>
                    </form>
                    <form action="/delete_route" method="post" style="display: inline;">
                        <input type="hidden" name="route_id" value="{{ route.id }}">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}